/* A CSS for a fun page about Xmas */
/* © 2021-2022 Magnus Kronnäs */

html {
    background-color: red;
}

@keyframes largeToSmall {
  from {
      font-size: 1px;
  }
  to {
     font-size: 50px;
  }
}

.greetings {
  font-size: 50px;
  animation-name: largeToSmall;
  animation-duration: 10s;
}

.greetings-to {
   font-size: 1px;
   animation-delay: 10s;
   animation-name: largeToSmall;
   animation-duration: 10s;
}
