/* A basic CSS for simple layoute and style */

html {
    background-color: #faebd7;
}

h1 {
    color:green;
    text-decoration: underline;
    text-align: center;
    font-size: 64px;
}

.start {
    color: red;
    font-style: italic;
}

.end {
    color: red;
}

.event {
    color: red;
    font-weight: bold;
}

.test {
    color: red;
}

#student {
    color: red;
}
