@keyframes moving-shadow {
    25% {
        box-shadow: 
            1rem 1rem 0 -0.1rem rgba(0, 136, 0, 0.7),
            2rem 2rem 0 -0.2rem rgba(0, 136, 0, 0.7),
            3rem 3rem 0 -0.3rem rgba(0, 136, 0, 0.7),
            inset 0 0 1rem var(--text-color);
    }
    50% {
        box-shadow: 
            1rem 1rem 0 -0.1rem rgba(160, 0, 0, 0.7),
            2rem 2rem 0 -0.2rem rgba(0, 136, 0, 0.7),
            3rem 3rem 0 -0.3rem rgba(0, 136, 0, 0.7),
            inset 0 0 1rem var(--text-color);
    }
    75% {
        box-shadow: 
            1rem 1rem 0 -0.1rem rgba(0, 136, 0, 0.7),
            2rem 2rem 0 -0.2rem rgba(160, 0, 0, 0.7),
            3rem 3rem 0 -0.3rem rgba(0, 136, 0, 0.7),
            inset 0 0 1rem var(--text-color);
    }
    100% {
        box-shadow: 
            1rem 1rem 0 -0.1rem rgba(0, 136, 0, 0.7),
            2rem 2rem 0 -0.2rem rgba(0, 136, 0, 0.7),
            3rem 3rem 0 -0.3rem rgba(160, 0, 0, 0.7),
            inset 0 0 1rem var(--text-color);
    }
}

@keyframes text-wave {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-1.5rem);
    }
    40%, 100% {
        transform: translateY(0);
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

@keyframes moving-background {
    to {
        background-position: right;
    }
}

.container {
    animation: moving-shadow 5s infinite linear alternate; 
}

.merry-christmas {
    animation: text-wave 2.5s infinite ease-in-out;
    animation-delay: calc(0.11s * var(--x));
}

.the-troll-container::before {
    animation: typewriter 4s steps(22) forwards;
    animation-delay: 0.5s;
}

.the-troll-container::after {
    animation: 
        typewriter 4s steps(22) forwards, 
        blink 1s infinite ease;
    animation-delay: 0.5s;
}

footer {
    animation: moving-background 5s infinite linear;
}