:root {
  --red: rgb(160, 0, 0);
  --transparent-green: rgba(0, 136, 0, 0.7);
  --text-color: black;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -3;
  background-image: url(winter-landscape.webp);
  background-size: cover;
  filter: blur(5px);
}

.container {
  width: max-content;
  height: max-content;
  text-align: center;
  padding-block: 5rem;
  padding-inline: 15rem;
  margin-top: 7rem;
  margin-bottom: 30rem;
  
  background-color: var(--red);
  border: ridge white 1rem;
  box-shadow:
    1rem 1rem 0 -0.1rem var(--transparent-green),
    2rem 2rem 0 -0.2rem var(--transparent-green),
    3rem 3rem 0 -0.3em var(--transparent-green),
    inset 0 0 1rem var(--text-color);
}

.merry-christmas-container {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 4rem;
  word-spacing: -1.5rem;
  position: relative;

  text-shadow: 0 -0.05rem 0.3rem var(--text-color);
  -webkit-box-reflect: 
    below -1.7rem linear-gradient(
        transparent 10%, 
        rgba(0, 0, 0, 0.5));
}

.merry-christmas-container::before {
  content: '🎅';
  margin-right: 1rem;
  position: absolute;
  left: -4.8rem;
  transform: translateY(-1rem);

  -webkit-box-reflect: 
    below -1.7rem linear-gradient(
        transparent 10%, 
        rgba(0, 0, 0, 0.5));
}

.merry-christmas-container::after {
  content: '⛄';
  margin-left: 1rem;
  position: absolute;
  right: -4rem;
  transform: translateY(-1rem);

  -webkit-box-reflect: 
    below -1.7rem linear-gradient(
        transparent 10%, 
        rgba(0, 0, 0, 0.5));
}

.merry-christmas {
  display: inline-block;
}

.merry-christmas-container :nth-child(3) {
  margin-right: 2rem;
}

.we-wish {
  border-radius: 1rem;

  color: white;
  background-color: var(--transparent-green);
  text-shadow: 0 0 0.5rem white;
}

.the-troll-container {
  position: relative;
  width: max-content;

  text-decoration: underline var(--transparent-green) 0.2rem;
}

.the-troll-container::before,
.the-troll-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.the-troll-container::before {
  background-color: var(--red);
}

.the-troll-container::after {
  width: 0.165rem;
  background-color: var(--text-color);
}

footer {
  width: 100%;
  height: 8rem;
  text-align: center;
  padding-block: 3rem;
  background-size: 333%;
  background-position: left;

  background-image: 
    linear-gradient(
      45deg, 
      var(--red),
      var(--transparent-green),
      var(--red),
      var(--transparent-green),
      var(--red),
      var(--transparent-green),
      var(--red));
  border-block: double var(--text-color) 1.5rem;
  text-shadow: -0.3rem 0.3rem 0.5rem var(--text-color);
}