body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  --jul-green: #34A65F;
  --jul-red: #CC231E;
  background-color: var(--jul-red);
}

h1 {
  color: var(--jul-green);
  font-size: 10em;
}

#content h2 {
	font-size: 10em;
	position: absolute;
	transform: translate(50%, -150%);
}

#content h2:nth-child(3) {
  color: var(--jul-green);
	animation: animate 4s ease-in-out infinite;
}

#content h2:nth-child(2) {
	color: transparent;
	-webkit-text-stroke: 2px var(--jul-green);
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
