body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Crimson;
  --width-card: 200px;
  --height-card: 300px;
}

@keyframes snowfall {
      0% {
        transform: translateY(-100vh);
      }
      100% {
        transform: translateY(100vh);
      }
    }

    .snowflake {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      animation: snowfall linear infinite;
    }

    /* Adjust the number of snowflakes as needed */
    .snowflake:nth-child(1) {
      left: 5%;
      animation-duration: 6.5s;
    }

    .snowflake:nth-child(2) {
      left: 10%;
      animation-duration: 4.5s;
    }

    .snowflake:nth-child(3) {
      left: 15%;
      animation-duration: 8s;
    }

    .snowflake:nth-child(4) {
      left: 20%;
      animation-duration: 5s;
    }

    .snowflake:nth-child(5) {
      left: 25%;
      animation-duration: 7s;
    }
    
      .snowflake:nth-child(6) {
      left: 30%;
      animation-duration: 6s;
    }
    
      .snowflake:nth-child(7) {
      left: 35%;
      animation-duration: 9s;
    }
    
      .snowflake:nth-child(8) {
      left: 40%;
      animation-duration: 11s;
    }
    
      .snowflake:nth-child(9) {
      left: 45%;
      animation-duration: 9.5s;
    }
    
      .snowflake:nth-child(10) {
      left: 50%;
      animation-duration: 5.5s;
    }
    
    .snowflake:nth-child(11) {
      left: 55%;
      animation-duration: 8.5s;
    }

    .snowflake:nth-child(12) {
      left: 60%;
      animation-duration: 6.5s;
    }

    .snowflake:nth-child(13) {
      left: 65%;
      animation-duration: 4.3s;
    }

    .snowflake:nth-child(14) {
      left: 70%;
      animation-duration: 9.5s;
    }

    .snowflake:nth-child(15) {
      left: 75%;
      animation-duration: 6.8s;
    }
    
      .snowflake:nth-child(16) {
      left: 80%;
      animation-duration: 5.1s;
    }
    
      .snowflake:nth-child(17) {
      left: 85%;
      animation-duration: 10s;
    }
    
      .snowflake:nth-child(18) {
      left: 90%;
      animation-duration: 3.5s;
    }
    
      .snowflake:nth-child(19) {
      left: 95%;
      animation-duration: 4.6s;
    }
    

.card {
  position: relative;
  width: var(--width-card);
  height:var(--height-card);;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 3s;
}
input#open {
  display: none;
}

.card-front:before {
  content:"";
  position: absolute;
  width: 180px;
  height: 280px;
  background-color: Crimson;
  top: 10px;
  left: 10px;
}

.card-front {
  position: relative;
  background-color: #fff;
  width: var(--width-card);
  height: var(--height-card);
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
  transition: .3s;
}

.card-inside:before {
  content:"";
  position: absolute;
  width: 180px;
  height: 280px;
  background-color: Crimson;
  top: 10px;
  left: 10px;
}

.card-inside {
  position: absolute;
  background-color: #fff;
  width: var(--width-card);;
  height:var(--height-card);;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.open {
  position: absolute;
  width: var(--width-card);;
  height:var(--height-card);;
  left:0;
  top:0;
  background-color: transparent;
  z-index:6;
  cursor: pointer;
}

.title {
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  top: 10px;
  width:190px;
  text-align: center;
  font-size:60px;
}

.snowman {
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  top: 15px;
  width:var(--width-card);;
  text-align: center;
  font-size:100px;
}

.title:before {
  content:"";
  position: absolute;
  width:80px;
  text-align: center;
}

.text {
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  top: 240px;
  width:200px;
  text-align: center;
  font-size:15px;
}

.text:before {
  content:"";
  position: absolute;
  width:80px;
  text-align: center;
}

.inside {
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  top: 30px;
  left: 50px;
  width:90px;
  text-align: center;
  font-size: 15px;
}

#open:checked ~ .card-front {
  transform: rotateY(-155deg);
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
}

#open:checked ~ .card-front:before {
  z-index:5;
}   